<!DOCTYPE html>
<html>
  <head>
    <title>Graphics Card WHERE</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" media="all" href="styles.css">
  </head>
  <body>
    <main>
      <h1> Best Buy Stock Checker </h1>
      <h2 class="js-server-message"></h2>
      <h3 class="js-server-error"></h3>
      <table class="table js-dashboard">
        <thead>
          <tr>
            <th>
              Product Name {{hello}}
            </th>
            <th>
              Status
            </th>
            <th>
              Last Checked
            </th>
          </tr>
        </thead>
        <tbody>
          {{#products}}
          <tr data-row="{{product}}">
            <td data-column="name">
              {{product}}
            </td>
            <td data-column="status">
              <a class="button" target="_blank" href="{{url}}"></a>
            </td>
            <td data-column="time-checked">
            </td>
          </tr>
          {{/products}}
        </tbody>
      </table>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="./app.js"></script>
    </main>
  </body>
</html>
