<!DOCTYPE html>
<html>
  <head>
    <title>Graphics Card WHERE</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" media="all" href="styles.css">
  </head>

  <body>
    <main>
      <h1> Best Buy Stock Checker </h1>
      <table class="table">
        <thead>
          <tr>
            <th>
              Product Name
            </th>
            <th>
              Time Checked
            </th>
            <th>
              Status
            </th>
            <th>
              Price
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="Product Name">
              NVIDIA GeForce RTX 3070 8GB
            </td>
            <td data-title="Time Checked">
              1:00pm
            </td>
            <td data-title="Status">
              <a class="button" href="https://www.bestbuy.com/site/nvidia-geforce-rtx-3070-8gb-gddr6-pci-express-4-0-graphics-card-dark-platinum-and-black/6429442.p?skuId=6429442"> Sold Out </a>
            </td>
            <td data-title="Price">
              10,000
            </td>
          </tr>
          <tr>
            <td data-title="Product Name">
              NVIDIA GeForce RTX 3070 8GB
            </td>
            <td data-title="Time Checked">
              1:00pm
            </td>
            <td data-title="Status">
              <a class="button" href="https://www.bestbuy.com/site/nvidia-geforce-rtx-3070-8gb-gddr6-pci-express-4-0-graphics-card-dark-platinum-and-black/6429442.p?skuId=6429442"> Sold Out </a>
            </td>
            <td data-title="Price">
              10,000
            </td>
          </tr>
          <tr>
            <td data-title="Product Name">
              NVIDIA GeForce RTX 3070 8GB
            </td>
            <td data-title="Time Checked">
              1:00pm
            </td>
            <td data-title="Status">
              <a class="button" href="https://www.bestbuy.com/site/nvidia-geforce-rtx-3070-8gb-gddr6-pci-express-4-0-graphics-card-dark-platinum-and-black/6429442.p?skuId=6429442"> Sold Out </a>
            </td>
            <td data-title="Price">
              10,000
            </td>
          </tr>
        </tbody>
      </table>
      <script type="text/javascript" src="./app.js"></script>
    </main>
  </body>
</html>
